{{#if tentacleVisible}}
<div class="tentacle">
	<img src="http://eviltrout.com/images/tentacle.gif" />
</div>
{{/if}}

<div class="buttons">
	{{d-button label="group_flare_plugin.show" action="showTentacle" icon="eye"}}
</div>